.dropZone {
    width: 100%;
    background-color: var(--overlay1);
    padding: 20px;
    border-style: dashed;
    border-color: var(--crust);
    border-radius: 25px;
    z-index: 1;
}

.dragging {
    border-color: var(--mantle);
    background-color: var(--overlay0);
}

.previewImg {
    display: block;
    max-width: 250px;
    max-height: 250px;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex: 1;
    padding: 10px;
    z-index: 0;
}